<h3>FetchApparrels</h3>

@page "/"

@using ReadTrial1.Data
@inject IGenderApparelService ApparelService

<h1>Product List</h1>


@if (apparels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Gender Id</th>
                <th>List Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apparel in apparels)
            {
                <tr>
                    <td>@apparel.product_id</td>
                    <td>@apparel.product_name</td>
                    <td>@apparel.gender_id</td>
                    <td>@apparel.list_price</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product> apparels;

    protected override async Task OnInitializedAsync()
    {
        int id = 1;
        apparels = await ApparelService.GetProductByGenderId();
    }
}
